@import "tailwindcss";

@theme {
  --color-primary: #5F259F;
  --color-primary-hover: #4B1A80;
  --color-success: #10B981;
  --color-warning: #F59E0B;
  --color-error: #EF4444;
  --color-background: #F9FAFB;
  --color-surface: #FFFFFF;
  --font-sans: "Inter", "Outfit", system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-background text-slate-800 antialiased font-sans;
  }
}
